* {
    font-family: 'Montserrat';
}

.page-header-navigation {
    width: 1280px;
}

.page-header-menu {
    text-align: center;
}

.page-header-menu-link {
    color: red;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.page-header-menu-item {
    list-style: none;
    display: inline-block;
    margin-right: 72px;
}

.page-main-header {
    color: #373737;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    padding: 24px 253px 19px;
}

.page-main-text-one {
    color: #373737;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2.4px;
    line-height: 26px;
    padding: 19px 67.5px 14px;
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 115px;
}

.page-main-text-two {
    color: #373737;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2.4px;
    line-height: 26px;
    padding: 14px 67.5px 33px;
    width: 1145px;
    height: 216px;
    left: 67.5px;
    top: 275px;
}

.page-main {
    width: 1280px;
}

.page-main-button-header {
    text-align: center;
}

.page-main-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 20px 40px;
    letter-spacing: 1.8px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 45px 0 50px;

}

.page-main-button-link {
    text-decoration: none;
    color: white;
}

.page-footer {
    width: 1280px;
    text-align: right;
}

.page-footer-text {
    color: #373737;
    letter-spacing: 2.4px;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 41px 105px 29px;
}